<%- include("partials/header") %>

<div class="container">
        
        <div class="container">
            <div class="jumbotron">
                <h1>Shelbys Cleaning Emporium</h1>
                <h3><%= product.title %></h3>
            </div>
        </div>

        <hr/>

        <div class="container">
            <img src="<%= product.image %>" alt="" width="500", height="500">
            <p><%= product.details %></p>

            <a href="#" class="btn btn-primary">Add to Order</a>
        </div>

</div>

<%- include("partials/footer") %>