
      <%- include("../partials/header") %>

        <div class="container mt-5">
          <div class="jumbotron">
            <h1>Shelbys Cleaning Emporium</h1>
            
          </div>

          <hr/>



          <section class="rounded-lg container" id="itemList">
            <h3 class="pt-4">Products</h3>
            <div class="row rounded" >
              <% products.forEach(function(product){ %>

                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card mx-auto my-5 bg-red" style="width: 18rem;">
                    <div class="card-header"> <h5 class="card-title"><%= product.title %></h5></div>
                      <img src="<%= product.image %>" class="card-img-top" alt="..." height="200" width="200">
                    <div class="card-body">
                      <a href="/products/<%= product.id %>" class="btn btn-grey">Details</a> <a href="#" class="btn btn-grey">Add to Order</a>
                    </div>
                  </div>
                </div>


              <% }) %>


            </div>
        </section>

        </div>
        
<%- include("../partials/footer") %>