<%- include("../partials/header") %>
        <div class="container">
        
            <div class="container">
                <div class="jumbotron">
                    <h1>Shelbys Cleaning Emporium</h1>
                    <h3><%= product.title %></h3>
                </div>
            </div>
    
            <hr/>
    
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="lead">Size Options</p>
                        <div class="list-group">

                            <% product.options.forEach(function(option){ %>
                                <li class="list-group-item"><%= option.size %>.oz| <%= option.container %> | $<%= option.price %></li>
                            <% }) %>
                            
                        </div>
                    </div>


                    <div class="col-md-9">
                        <div class=card>
                            <img class="img-responsive card-img-top" src="<%= product.image %>" alt="" width="500", height="500">
                            <div class="card-body">
                                <p class="card-text"><%= product.description %></p>
                                <p class="card-text text-right"><%= product.price %>/Bottle</p>
    
                                <a href="#" class="btn btn-primary">Add to Order</a>
                                <a href="/products/<%= product._id %>/options/new" class="btn btn-secondary">Create New Option</a>
                                <a href="/products/<%= product._id %>/edit" class="btn btn-warning">Edit</a>
                                <form class="delete-form" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

                <div class="container">
                    <div class="jumbotron">
                        <h1>Reveiws</h1> 
                        <a href="/products/<%= product._id %>/reviews/new" class="btn btn-primary">Add Reveiw</a>    
                    </div>
                </div>

                <hr/>
                
                      
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <% product.reviews.forEach(function(review){ %>
            
                                <div class="card-body"> 
                                    <h5 class="card-title"><%= review.contributor.username %></h5>

                                    <p class="card-text"><%= review.content %></p>
                                
                                    
                                        <% if(currentUser && review.contributor.id.equals(currentUser._id)){ %>
                                            <a href="/products/<%= product._id %>/reviews/<%= review._id %>/edit"
                                            class="btn btn-xs btn-warning">
                                            Edit
                                            </a>
                                            <form class ="delete-form" action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-xs btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                    
                                </div>
                                <% }); %>
                            </div> 
                        </div> 
                    </div>
        </div>
<%- include("../partials/footer") %>